/* 
.sidebar {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease;
}
.sidebar.open {
  right: 0;
}
.close-btn {
  border: 0.5px solid;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 16px;
  right: 10px;
  font-size: 24px;
  color: #555;
  background-color: transparent;
  cursor: pointer;
}
.open-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.sidebar-header-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 5px;
  padding-top: 10px;
}
.sidebar-header {
  display: flex;
  padding: 7px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.sidebar-content {
  padding: 20px;
}

.sidebar-textarea {
  border: none;
  background-color: #eef5f6;
  width: 100%;
  min-height: 100px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  margin-bottom: 10px;
  resize: none;
}

.sidebar-textarea-div {
  position: relative;
}

.sidebar-icons {
  position: absolute;
  bottom: 20px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sidebar-icons span {
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 0.5px solid #ccc;
  cursor: pointer;
}

.sidebar-icons span svg {
  width: 20px;
  height: 20px;
  color: #544fb2;
}

.sidebar-button {
  background-color: #544fb2;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
.sidebar-content-title {
  font-family: "Bebas Neue", cursive;
  font-family: "Boogaloo", cursive;
  font-family: "Roboto", sans-serif;
  color: rgb(68, 67, 67);
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.dropdown-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.dropdown-box select {
  width: 45%;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.dropdown-box select:first-child {
  margin-right: 10px;
}

.sidebar-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #544fb2;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.sidebar-button:hover {
  background-color: #0062cc;
}
.output_box {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: front;
  position: relative;
}

.answer {
  border: none;
  background-color: #eef5f6;
  width: 100%;
  height: 250px;
  padding: 20px 10px;
  font-size: 1rem;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: none;
  resize: none;
}

.output-box-icons {
  position: absolute;
  bottom: 20px;
  right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
  border: 0.5px solid #ccc;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: 15px;
  padding: 2px;
  color: #544fb2;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.icon:hover {
  color: #555;
}

.paraphrased-title {
  font-family: "Bebas Neue", cursive;
  font-family: "Boogaloo", cursive;
  font-family: "Roboto", sans-serif;
  color: rgb(68, 67, 67);
  font-size: 1.25rem;
  font-weight: bold;
}

.paraphrasing-button,
.commention-button {
  font-family: "Bebas Neue", cursive;
  font-family: "Boogaloo", cursive;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  color: rgb(68, 67, 67);
  background-color: #fff;
  padding: 10px 20px;
  border: none;
}

.paraphrasing-button.active {
  color: #544fb2;
  font-weight: bold;
  background-color: #eef5f6;
  border-bottom: 2px solid #544fb2;
}

.commention-button.active {
  color: #544fb2;
  font-weight: bold;
  background-color: #eef5f6;
  border-bottom: 2px solid #544fb2;
}


.dropdown-box select {
  font-size: 1.2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #f5f5f5;
  color: #333;
  width: 100%;
  max-width: 20rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
} */
